<!DOCTYPE html>
<html>
<head>
    <title>
        Stock Analysis
    </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
<div>
    <h1>Problem 1</h1>
    <h3>There are various stocks for which we have collected a data set, which all stocks are apparently similar in
        performance</h3>

    <p>These stocks are similar in performance
        These are the top 20 shares on profit</p>
    <img src="./static/css/Top 20 shares on profit over time.png">
    <p>Here it is the profit value of top 20 shares</p>
    <img src="./static/css/Top 20 shares on profit.png">

    <hr>

    <p>These stocks are again similar in performance
        These are the top 20 shares on loss</p>
    <img src="./static/css/Top 20 shares on loss over time.png">
    <p>Here it is the loss value of top 20 shares</p>
    <img src="./static/css/Top 20 shares on loss.png">

</div>


<div>
    <h1>Problem 2</h1>
    <h3>How many Unique patterns that exist in the historical stock data set, based on fluctuations in price.</h3>

    <p>After analyzing the data completely i got to know that there is no any unique patterns in the data.</p>


</div>


<div>
    <h1>Problem 3</h1>
    <h3>Identify which all stocks are moving together and which all stocks are different from each other.</h3>

    <h4>First kind of stocks are</h4>
    <p>SP500, NASDAQ.AAPL, NASDAQ.ADBE, NASDAQ.ADP, NASDAQ.ALXN, NASDAQ.AMGN, NASDAQ.AMZN, NASDAQ.AVGO,
        NASDAQ.BIIB, NASDAQ.CELG, NASDAQ.CHTR, NASDAQ.CME, NASDAQ.COST, NASDAQ.CTAS, NASDAQ.EQIX,
        NASDAQ.EXPE, NASDAQ.FB, NASDAQ.FFIV, NASDAQ.FISV, NASDAQ.GOOG, NASDAQ.GOOGL, NASDAQ.HSIC,
        NASDAQ.IDXX, NASDAQ.ILMN, NASDAQ.INCY, NASDAQ.INTU, NASDAQ.ISRG, NASDAQ.LRCX, NASDAQ.NFLX,
        NASDAQ.NVDA, NASDAQ.ORLY, NASDAQ.PCLN, NASDAQ.REGN, NASDAQ.ULTA, NASDAQ.VRTX, NASDAQ.WLTW,
        NASDAQ.WYNN, NYSE.AAP, NYSE.ACN, NYSE.ADS, NYSE.AET, NYSE.AGN, NYSE.ALB, NYSE.AMG, NYSE.AMP,
        NYSE.AMT, NYSE.ANTM, NYSE.AON, NYSE.APD, NYSE.ARE, NYSE.AVB, NYSE.AYI, NYSE.AZO, NYSE.BA,
        NYSE.BCR, NYSE.BDX, NYSE.BLK, NYSE.BRK.B, NYSE.BXP, NYSE.CB, NYSE.CI, NYSE.CLX, NYSE.CMG,
        NYSE.CMI, NYSE.COO, NYSE.CVX, NYSE.CXO, NYSE.DE, NYSE.DIS, NYSE.DLR, NYSE.DTE, NYSE.ECL,
        NYSE.EFX, NYSE.ESS, NYSE.FDX, NYSE.FRT, NYSE.GD, NYSE.GS, NYSE.GWW, NYSE.HD, NYSE.HON,
        NYSE.HRS, NYSE.HSY, NYSE.HUM, NYSE.IBM, NYSE.IFF, NYSE.IT, NYSE.ITW, NYSE.JNJ, NYSE.KMB,
        NYSE.LH, NYSE.LLL, NYSE.LMT, NYSE.MA, NYSE.MAA, NYSE.MCD, NYSE.MCK, NYSE.MCO, NYSE.MHK,
        NYSE.MLM, NYSE.MMM, NYSE.MON, NYSE.MTB, NYSE.NEE, NYSE.NOC, NYSE.NSC, NYSE.PEP, NYSE.PH,
        NYSE.PM, NYSE.PNC, NYSE.PPG, NYSE.PRU, NYSE.PSA, NYSE.PVH, NYSE.PX, NYSE.PXD, NYSE.ROK,
        NYSE.ROP, NYSE.RTN, NYSE.SHW, NYSE.SJM, NYSE.SLG, NYSE.SNA, NYSE.SPG, NYSE.SPGI, NYSE.SRE,
        NYSE.STZ, NYSE.SWK, NYSE.SYK, NYSE.TDG, NYSE.TMO, NYSE.TRV, NYSE.UHS, NYSE.UNH, NYSE.UNP,
        NYSE.UPS, NYSE.URI, NYSE.UTX, NYSE.VMC, NYSE.VNO, NYSE.WAT, NYSE.WHR, NYSE.XEC, NYSE.ZBH</p>
    <hr>

    <h4>Second type of stocks are</h4>
    <p>NASDAQ.AAL, NASDAQ.ADI, NASDAQ.ADSK, NASDAQ.AKAM, NASDAQ.AMAT, NASDAQ.AMD, NASDAQ.ATVI,
        NASDAQ.BBBY, NASDAQ.CA, NASDAQ.CBOE, NASDAQ.CERN, NASDAQ.CHRW, NASDAQ.CINF, NASDAQ.CMCSA,
        NASDAQ.CSCO, NASDAQ.CSX, NASDAQ.CTSH, NASDAQ.CTXS, NASDAQ.DISCA, NASDAQ.DISCK, NASDAQ.DISH,
        NASDAQ.DLTR, NASDAQ.EA, NASDAQ.EBAY, NASDAQ.ESRX, NASDAQ.ETFC, NASDAQ.EXPD, NASDAQ.FAST,
        NASDAQ.FITB, NASDAQ.FLIR, NASDAQ.FOX, NASDAQ.FOXA, NASDAQ.GILD, NASDAQ.GRMN, NASDAQ.GT,
        NASDAQ.HAS, NASDAQ.HBAN, NASDAQ.HOLX, NASDAQ.INFO, NASDAQ.INTC, NASDAQ.JBHT, NASDAQ.KHC,
        NASDAQ.KLAC, NASDAQ.LKQ, NASDAQ.MAR, NASDAQ.MAT, NASDAQ.MCHP, NASDAQ.MDLZ, NASDAQ.MNST,
        NASDAQ.MSFT, NASDAQ.MU, NASDAQ.MYL, NASDAQ.NAVI, NASDAQ.NDAQ, NASDAQ.NTAP, NASDAQ.NTRS,
        NASDAQ.NWS, NASDAQ.NWSA, NASDAQ.PAYX, NASDAQ.PBCT, NASDAQ.PCAR, NASDAQ.PDCO, NASDAQ.PYPL,
        NASDAQ.QCOM, NASDAQ.QRVO, NASDAQ.ROST, NASDAQ.SBUX, NASDAQ.SNI, NASDAQ.SNPS, NASDAQ.SPLS,
        NASDAQ.SRCL, NASDAQ.STX, NASDAQ.SWKS, NASDAQ.SYMC, NASDAQ.TRIP, NASDAQ.TROW, NASDAQ.TSCO,
        NASDAQ.TXN, NASDAQ.VIAB, NASDAQ.VRSK, NASDAQ.VRSN, NASDAQ.WBA, NASDAQ.WDC, NASDAQ.WFM,
        NASDAQ.XLNX, NASDAQ.XRAY, NASDAQ.ZION, NYSE.A, NYSE.ABBV, NYSE.ABC, NYSE.ABT, NYSE.ADM,
        NYSE.AEE, NYSE.AEP, NYSE.AES, NYSE.AFL, NYSE.AIG, NYSE.AIV, NYSE.AIZ, NYSE.AJG, NYSE.ALK,
        NYSE.ALL, NYSE.ALLE, NYSE.AME, NYSE.AN, NYSE.APA, NYSE.APC, NYSE.APH, NYSE.ARNC, NYSE.AVY,
        NYSE.AWK, NYSE.AXP, NYSE.BAC, NYSE.BAX, NYSE.BBT, NYSE.BBY, NYSE.BEN, NYSE.BF.B, NYSE.BHI,
        NYSE.BK, NYSE.BLL, NYSE.BMY, NYSE.BSX, NYSE.BWA, NYSE.C, NYSE.CAG, NYSE.CAH, NYSE.CAT,
        NYSE.CBG, NYSE.CBS, NYSE.CCI, NYSE.CCL, NYSE.CF, NYSE.CFG, NYSE.CHD, NYSE.CHK, NYSE.CL,
        NYSE.CMA, NYSE.CMS, NYSE.CNC, NYSE.CNP, NYSE.COF, NYSE.COG, NYSE.COH, NYSE.COL, NYSE.COP,
        NYSE.COTY, NYSE.CPB, NYSE.CRM, NYSE.CSRA, NYSE.CTL, NYSE.CVS, NYSE.D, NYSE.DAL, NYSE.DD,
        NYSE.DFS, NYSE.DG, NYSE.DGX, NYSE.DHI, NYSE.DHR, NYSE.DLPH, NYSE.DOV, NYSE.DOW, NYSE.DPS,
        NYSE.DRI, NYSE.DUK, NYSE.DVA, NYSE.DVN, NYSE.DXC, NYSE.ED, NYSE.EIX, NYSE.EL, NYSE.EMN,
        NYSE.EMR, NYSE.EOG, NYSE.EQR, NYSE.EQT, NYSE.ES, NYSE.ETN, NYSE.ETR, NYSE.EVHC, NYSE.EW,
        NYSE.EXC, NYSE.EXR, NYSE.F, NYSE.FBHS, NYSE.FCX, NYSE.FE, NYSE.FIS, NYSE.FL, NYSE.FLR,
        NYSE.FLS, NYSE.FMC, NYSE.FTI, NYSE.FTV, NYSE.GE, NYSE.GGP, NYSE.GIS, NYSE.GLW, NYSE.GM,
        NYSE.GPC, NYSE.GPN, NYSE.GPS, NYSE.HAL, NYSE.HBI, NYSE.HCA, NYSE.HCN, NYSE.HCP, NYSE.HES,
        NYSE.HIG, NYSE.HOG, NYSE.HP, NYSE.HPE, NYSE.HPQ, NYSE.HRB, NYSE.HRL, NYSE.HST, NYSE.ICE,
        NYSE.IP, NYSE.IPG, NYSE.IR, NYSE.IRM, NYSE.IVZ, NYSE.JCI, NYSE.JEC, NYSE.JNPR, NYSE.JPM,
        NYSE.JWN, NYSE.K, NYSE.KEY, NYSE.KIM, NYSE.KMI, NYSE.KMX, NYSE.KO, NYSE.KORS, NYSE.KR,
        NYSE.KSS, NYSE.KSU, NYSE.L, NYSE.LB, NYSE.LEG, NYSE.LEN, NYSE.LLY, NYSE.LNC, NYSE.LNT,
        NYSE.LOW, NYSE.LUK, NYSE.LUV, NYSE.LVLT, NYSE.LYB, NYSE.M, NYSE.MAC, NYSE.MAS, NYSE.MDT,
        NYSE.MET, NYSE.MKC, NYSE.MMC, NYSE.MNK, NYSE.MO, NYSE.MOS, NYSE.MPC, NYSE.MRK, NYSE.MRO,
        NYSE.MS, NYSE.MSI, NYSE.MUR, NYSE.NBL, NYSE.NEM, NYSE.NFX, NYSE.NI, NYSE.NKE, NYSE.NLSN,
        NYSE.NOV, NYSE.NRG, NYSE.NUE, NYSE.NWL, NYSE.O, NYSE.OKE, NYSE.OMC, NYSE.ORCL, NYSE.OXY,
        NYSE.PCG, NYSE.PEG, NYSE.PFE, NYSE.PFG, NYSE.PG, NYSE.PGR, NYSE.PHM, NYSE.PKI, NYSE.PLD,
        NYSE.PNR, NYSE.PNW, NYSE.PPL, NYSE.PRGO, NYSE.PSX, NYSE.PWR, NYSE.RAI, NYSE.RCL, NYSE.REG,
        NYSE.RF, NYSE.RHI, NYSE.RHT, NYSE.RIG, NYSE.RJF, NYSE.RL, NYSE.RRC, NYSE.RSG, NYSE.SCG,
        NYSE.SCHW, NYSE.SEE, NYSE.SIG, NYSE.SLB, NYSE.SO, NYSE.STI, NYSE.STT, NYSE.SYF, NYSE.SYY,
        NYSE.T, NYSE.TAP, NYSE.TEL, NYSE.TGT, NYSE.TIF, NYSE.TJX, NYSE.TMK, NYSE.TSN, NYSE.TSO,
        NYSE.TSS, NYSE.TWX, NYSE.TXT, NYSE.UA, NYSE.UAA, NYSE.UAL, NYSE.UDR, NYSE.UNM, NYSE.USB,
        NYSE.V, NYSE.VAR, NYSE.VFC, NYSE.VLO, NYSE.VTR, NYSE.VZ, NYSE.WEC, NYSE.WFC, NYSE.WM,
        NYSE.WMB, NYSE.WMT, NYSE.WRK, NYSE.WU, NYSE.WY, NYSE.WYN, NYSE.XEL, NYSE.XL, NYSE.XOM,
        NYSE.XRX, NYSE.XYL, NYSE.YUM, NYSE.ZTS</p>


</div>


</body>
</html>
